@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
	@using Microsoft.AspNetCore.Identity;
	@using Microsoft.AspNetCore.Mvc;
	@inject UserManager<User> UserManager
	var user = await UserManager.GetUserAsync(User);
}
<section id="center" class="p_3 bg_light">
 <div class="container-xl">
  <div class="row center_1">
   <div class="col-md-12">
     <h6 class="font_14"><span class="col_red">Thông tin cá nhân</span></h6>
	 <h2 class="mb-0 mt-3 lh-1">Thông tin cá nhân</h2>
   </div>
  </div>
 </div>
</section>

<section id="profile" class="p_3">
    <div class="container-xl">
     <div class="checkout_1 row">
       <div class="col-md-9">
         <div class="checkout_1l">
          <h5>Thông tin của bạn</h5>
          <br>
         </div>
				<form asp-action="ChangeInfor" method="post">
         <div class="checkout_1l1 row">
           <div class="col-md-12 ps-0">
           <h6>Họ tên của bạn</h6>
							<input class="form-control" type="text" name="FullName" value="@user?.FullName">
           </div>
         </div>
         <div class="checkout_1l1 row">	
          <div class="col-md-6 ps-0">
           <h6>Email <span></span></h6>
							<input class="form-control" type="text" name="Email" value="@user?.Email">
          </div>
          <div class="col-md-6 ps-0">
           <h6>Số điện thoại <span></span></h6>
							<input class="form-control" type="text" name="Phone" value="@user?.PhoneNumber">
          </div>
         </div>
         <div class="checkout_1l1 row">
          <div class="col-md-12 ps-0">
           <h6>Địa chỉ <span></span></h6>
							<input class="form-control" type="text" name="Address" value="@user?.Address">
          </div>
         </div>
   
         <!-- đổi thông tin -->
		 <h6 class="mt-3">
            <button type="submit" class="button">Cập nhật thông tin</button>
            <button 
			type="button"
			data-bs-toggle="modal"
			data-bs-target="#updatePasswordRowModal"
			 class="button" href="#"
			  style="background-color: skyblue;">
			  Đổi mật khẩu</button>
        </h6>
	</form>
            <!-- form sửa thông tin
		 <div class="modal fade" id="updateRowModal" tabindex="-1" aria-labelledby="newRowModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="newRowModalLabel">Xác nhận thanh toán</h5>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				  <form action="">
					<div class="mb-3">
					  <label for="name" class="form-label">Số điện thoại</label>
					  <input type="text" class="form-control" id="name" placeholder="Nhập tên" disabled>
					</div>
					<div class="mb-3">
					  <label for="position" class="form-label">Địa chỉ</label>
					  <input type="text" class="form-control" id="position" placeholder="Nhập vị trí" disabled>
					</div>
				  
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
				  <button type="submit" class="btn btn-primary">Xác nhận</button>
				</div>
			  </form>
			  </div>
			</div>
		  </div> -->

          <!-- đổi mật khẩu -->
		 <!-- form sửa thông tin -->
		 <div class="modal fade" id="updatePasswordRowModal" tabindex="-1" aria-labelledby="newRowModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="newRowModalLabel">Đổi mật khẩu</h5>
				  <button type="button"
				   class="btn-close"
				   data-bs-dismiss="modal" 
				   aria-label="Close">
				  </button>
				</div>
				<div class="modal-body">
								<form asp-action="ChangePassword" method="post">
					<div class="mb-3">
					  <label for="name" class="form-label">Nhập mật khẩu cũ</label>
					  <input type="password" class="form-control" id="name" name="oldPassword">
					</div>
					<div class="mb-3">
					  <label for="position" class="form-label">Nhập mật khẩu mới</label>
					  <input type="password" class="form-control" id="position" name="newPassword">
					</div>
					<div class="mb-3">
						<label for="position" class="form-label">Xác nhận mật khẩu mới</label>
						<input type="password" class="form-control" id="position" name="confirmNewPassword">
					</div>
				
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
				  <button type="submit" class="btn btn-primary">Xác nhận</button>
				</div>
			  </form>
			  </div>
			</div>
		  </div>
       </div>
      </div>
    </div>
</section>


