@model doan1_v1.Models.Order

@{
    ViewData["Title"] = "Hủy hóa đơn";
}
<div class="container mt-4">
    <h3>Hủy hóa đơn</h3>
    <form method="post" asp-action="Delete">
        <!-- Đường dẫn action có thể thay đổi tùy vào route của bạn -->
        <div class="mb-3">
            <label for="orderId" class="form-label">Mã Đơn Hàng: @Model.Id</label><br/>
            <label for="orderId" class="form-label">Tên khách hàng: @Model.Customer.FullName</label><br />
            <label for="orderId" class="form-label">Ngày đặt: @Model.DateOrder</label><br />
            <input  type="hidden" class="form-control" id="orderId" name="orderId" required readonly value="@Model.Id">
        </div>

        <div class="mb-3">
            <label for="cancelReason" class="form-label">Lý Do Hủy:</label>
            <textarea class="form-control" id="cancelReason" name="cancelReason" rows="4" placeholder="Vui lòng nhập lý do hủy hóa đơn tại đây. " required></textarea>
        </div>

        <button type="submit" value="Delete" class="btn btn-danger">Xác Nhận Hủy Đơn Hàng</button>
    </form>
</div>

