@model doan1_v1.Models.Category

@{
    ViewData["Title"] = "Quản lý danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">NTFashion</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Quản lý</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Quản lý danh mục sản phẩm</a>
            </li>
        </ul>
    </div>
    <form class="row" asp-action="Create" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Tên danh mục sản phẩm</label>
            <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Nhập tên danh mục sản phẩm">
        </div>
        <div class="mb-3">
            <label asp-for="ParentId" class="form-label">Danh mục cha</label>
            <select class="form-select" asp-for="ParentId" asp-items="ViewBag.Categories">
                <option value="">--Chọn danh mục--</option>
            </select>
            <span asp-validation-for="ParentId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Mô tả</label>
            <textarea class="form-control" rows="5" asp-for="Description" id=""></textarea>
        </div>
        <div class="mb-3-md">
            <a class="btn btn-secondary" asp-action="Index">Đóng</a>
            <button type="submit" value="Create" class="btn btn-primary">Lưu</button>
        </div>
    </form>
