@model doan1_v1.Models.Category

@{
    ViewData["Title"] = "Details";
}
<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">NTMFashion</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Quản lý</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Quản lý sản phẩm</a>
            </li>
        </ul>
    </div>
    <form class="row" action="" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên sản phẩm">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Danh mục</label>
            <select class="form-select" name="category" id="">
                <option value="">--Chọn danh mục--</option>
                <option value="">Áo thun</option>
                <option value="">Quần dài</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="office" class="form-label">Mô tả</label>
            <textarea class="form-control" rows="5" name="description" id=""></textarea>
        </div>
        <div class="mb-3-md">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </form>
