@model doan1_v1.Models.Product

@{
    ViewData["Title"] = "Xem chi tiết sản phẩm";
}

<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">NTMFashion</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Quản lý</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Quản lý sản phẩm</a>
            </li>
        </ul>
    </div>
    <form class="row" asp-action="Details" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Tên sản phẩm</label>
            <input disabled type="text" class="form-control" id="name" asp-for="Name">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Danh mục</label>
            <select disabled class="form-select" asp-for="CategoryId" id="" asp-items="ViewBag.CategoryId">
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Color" class="form-label">Màu sắc</label>
            <input disabled type="text" class="form-control" asp-for="Color">
        </div>
        <div class="mb-3">
            <label asp-for="Dimension" class="form-label">Kích thước</label>
            <input disabled type="text" class="form-control" asp-for="Dimension">
        </div>
        <div class="mb-3">
            <label asp-for="Material" class="form-label">Chất liệu</label>
            <input disabled type="text" class="form-control" asp-for="Material">
        </div>
        <div class="mb-3">
            <label asp-for="Quantity" class="form-label">Số lượng</label>
            <input disabled type="number" min=0 class="form-control" asp-for="Quantity">
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Giá</label>
            <input disabled type="number" min=0 class="form-control" asp-for="Price">
        </div>
        <div class="mb-3">
            <label asp-for="Productor" class="form-label">Nhà sản xuất</label>
            <input disabled type="text" class="form-control" asp-for="Productor">
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Mô tả</label>
            <textarea disabled class="form-control" rows="5" asp-for="Description" id=""></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Ảnh hiện có</label><br>
            @foreach (var imagePath in ViewBag.ProductImage)
            {
                <img src="@imagePath.Name" alt="" height="150" width="150">
            }
        </div>
        <div class="mb-3-md">
            <button id="btnClose" class="btn btn-secondary">Quay lại</button>
        </div>

    </form>
</div>
<script>
    const btnDong = document.getElementById('btnClose');
    btnDong.addEventListener('click', () => {
      window.close();
    });
</script>